<main>
        <section>
            <article class="home_cards">
                <figure>
                    <img src="./img/DSC_1151 copy.jpg" alt="">
                </figure>
                <div class="home_cards_details">
                    <h3>Username: Emmy</h3>
                    <p>Number of posts: 50</p>
                </div>
            </article>
        </section>

        <section class="user_details_bio_section">
            <header>
                <h3>Bio</h3>
            </header>
            <article>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi pariatur aspernatur cupiditate fuga molestiae rem ullam architecto quasi possimus iure quos, hic iste quibusdam facere harum nulla obcaecati. Dicta molestias necessitatibus vero unde sapiente cum libero quis ipsum quisquam ipsam beatae, consequuntur optio, eligendi officiis! Enim ipsam doloribus accusantium vero.</p>
            </article>
        </section>

        <section class="user_details_post_section">
            <article>
                <header> <h3>Post #1</h3></header>
                <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam placeat aliquam, minus obcaecati blanditiis.</p></div>
            </article>
            <article>
                <header> <h3>Post #1</h3></header>
                <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam placeat aliquam, minus obcaecati blanditiis.</p></div>
            </article>
            <article>
                <header> <h3>Post #1</h3></header>
                <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam placeat aliquam, minus obcaecati blanditiis.</p></div>
            </article>
            <article>
                <header> <h3>Post #1</h3></header>
                <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam placeat aliquam, minus obcaecati blanditiis.</p></div>
            </article>
            <article>
                <header> <h3>Post #1</h3></header>
                <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam placeat aliquam, minus obcaecati blanditiis.</p></div>
            </article>

            <div class="see_all_btnbox">
                <button>See all posts</button>
            </div>
        </section>
    </main>