<main>
        <section class="post_section1">
            <article class="home_cards">
                <figure>
                    <img src="./img/DSC_1151 copy.jpg" alt="">
                </figure>
                <div class="home_cards_details">
                    <h3>Username: Emmy</h3>
                    <p>Number of posts: 50</p>
                </div>
            </article> 
        </section>

        <section class="post_page_post_details">
            <article>
                <div class="post_page_post_details_div" >
                    <header><h3>Post #1</h3></header>
                    <div><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A vitae est explicabo, ipsa laudantium ad.</p></div>

                    <ul class="post_page_interaction list_style_none">
                        <li>Comments: 5</li>
                        <li>Likes: 4</li>
                    </ul>

                </div>

                <ul class="post_page_user_comment_box list_style_none">
                    <li>Username: Comment 1</li>
                    <li>Username: Comment 2</li>
                    <li>Username: Comment 3</li>
                    <li>Username: Comment 4</li>
                </ul>
                
            </article>

            <article>
                <div class="post_page_post_details_div" >
                    <header><h3>Post #1</h3></header>
                    <div><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A vitae est explicabo, ipsa laudantium ad.</p></div>

                    <ul class="post_page_interaction list_style_none">
                        <li>Comments: 5</li>
                        <li>Likes: 4</li>
                    </ul>

                </div>

                <ul class="post_page_user_comment_box list_style_none">
                    <li>Username: Comment 1</li>
                    <li>Username: Comment 2</li>
                    <li>Username: Comment 3</li>
                    <li>Username: Comment 4</li>
                </ul>
                
            </article>
        </section>

        <div class="post_page_pagination">
            <ul class="list_style_none">
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
            </ul>
        </div>
    </main>