<main>
        <section class="post_details_section1">
            <article class="post_details_section1_card">
                <header>
                    <h3>Post #1 by Username</h3>
                    <ul class="post_interaction list_style_none">
                        <li>Comments: 5</li>
                        <li>Likes: 5</li>
                    </ul>
                </header>
                
                <div class="post_details_section1_card_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam soluta amet nulla cupiditate eaque recusandae possimus! Tempora maiores itaque magnam laudantium voluptatibus voluptates cupiditate distinctio consequatur! Aperiam adipisci nisi possimus!</p>
                </div>
            </article> 

            <ul class="post_details_section1_user_comment_box list_style_none">
                <li>Username: Comment 1</li>
                <li>Username: Comment 2</li>
                <li>Username: Comment 3</li>
                <li>Username: Comment 4</li>
            </ul>
        </section>
    </main>
